
body {
    color: var(--p-color);
    font-family: Roboto, sans-serif;
    letter-spacing: 0.03em;
    font-size: 14px;
    font-style: normal;
}

.section {
    padding: 94px 0px;
}

.border {
    border-bottom: 1px solid #ECECEC;
}

.list {
    text-decoration: none;
    list-style: none;
    color: currentColor;
}

.footer {
    background-color: var(--fon);
    padding-top: 60px;
    padding-bottom: 60px;
}

.card-set__link {
    color: var(--brand-color);
    text-decoration: none;
    font-weight: 500;
    font-size: 14px;
    line-height: 16px;
    letter-spacing: 0.02em;

    transition: box-shadow 250ms var(--cubic);
}
