:root {
    --brand-color: #212121;
    --bacraund-color-button: #2196F3;
    --p-color: #757575;
    --hero-white: #ffffff;
    --fon: #2F303A;
    --backraund-usteam: #F5F4FA;
    --icon: #AFB1B8;
    --bord: #ECECEC;
    --cubic: cubic-bezier(0.4, 0, 0.2, 1);
}
